PORT=5000
MONGO_URI=mongodb+srv://Bluetrade:<bluex402>@cluster0.Bluetrade.mongodb.net/?appName=Cluster0
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiI1NmQ3YTNiZC04NDVhLTQ2M2EtYTliNC01YTlmMTgwNWY4ZDQiLCJlbWFpbCI6ImlyZmFubWhtZDgyNEBnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJGUkExIn0seyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJOWUMxIn1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlLCJzdGF0dXMiOiJBQ1RJVkUifSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiN2ZjYzZjZjExMWZlMDAzNGI1NmYiLCJzY29wZWRLZXlTZWNyZXQiOiI5NDMzODEzZjQ4N2UyZWNhODA3ZmQ1M2U2YzUxYmIxMWZhOGVkM2RhOGY2NjFmOGI4OWIxYmZkMzllZWUyNzQwIiwiZXhwIjoxODA3MjYyMTk2fQ.2aErzZWhcKejpmOLCSXQ4A0xzXqj6CLf9OmZs_HO3yM
IPFS_GATEWAY=https://ipfs.io/ipfs/
IPFS_PROVIDER=pinata
PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiI1NmQ3YTNiZC04NDVhLTQ2M2EtYTliNC01YTlmMTgwNWY4ZDQiLCJlbWFpbCI6ImlyZmFubWhtZDgyNEBnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJGUkExIn0seyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJOWUMxIn1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlLCJzdGF0dXMiOiJBQ1RJVkUifSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiN2ZjYzZjZjExMWZlMDAzNGI1NmYiLCJzY29wZWRLZXlTZWNyZXQiOiI5NDMzODEzZjQ4N2UyZWNhODA3ZmQ1M2U2YzUxYmIxMWZhOGVkM2RhOGY2NjFmOGI4OWIxYmZkMzllZWUyNzQwIiwiZXhwIjoxODA3MjYyMTk2fQ.2aErzZWhcKejpmOLCSXQ4A0xzXqj6CLf9OmZs_HO3yM
WEB3_STORAGE_TOKEN=your_web3_storage_token
BLOCKCHAIN_RPC_URL=https://rpc-amoy.polygon.technology
PRIVATE_KEY=fceddc2b7c045d01c0cd2dc63aafaa5c7b63c7bbfe806305d403bc8b0d5953eb
REGISTRY_CONTRACT=0x0000000000000000000000000000000000000000
CARBON_TOKEN_CONTRACT=0x0000000000000000000000000000000000000000
NFT_CONTRACT=0x0000000000000000000000000000000000000000
